header {
  position: sticky;
  background-color: rgba(255, 255, 255, 0.95);
  top: 0;
  padding: 20px 0;
}
.header {
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 24px;
}

header img {
  width: 166px;
  height: 77px;
}

header li:nth-child(4) {
  border-radius: 4px;
  background-color: #0c1079;
  padding: 16px;
  color: white;
  margin-left: 24px;
}
header li:nth-child(4) a {
  color: white;
}
